name: Create Pull Request

on:
  workflow_dispatch: ~
  push:
    branches:
      - main

jobs:
  create-pull-request:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Checkout docs-all repo
        uses: actions/checkout@v4
        with:
          repository: metaodi/docs-all
          path: docs-all
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          
      - name: Update Part B files
        run: |
          tree
          ls -l docs-all
          cp -r b/* docs-all/b/

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        id: cpr
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          title: 'Docs Update - Part B'
          body: 'Documentation update from part B'
          path: docs-all
          branch: 'docs-b-update'
          base: 'main'
          draft: false
          
      - name: Check outputs
        if: ${{ steps.cpr.outputs.pull-request-number }}
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
